{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PROJECT CRM</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css\style.css' %}">
</head>
<body>
    <!-- create a navbar here-->
     {% include "main/navbar.html" %}


    <div class="container">
        <br>

        {% for message in messages %}
             
            {% if message.level == DEFALULT_MEESAGE_LEVEL.SUCCESS %}

             <p class="alert alert-success float-centet text-center"></p>

            {% else %}

            {% endif %}
        {% endfor %}

        {% block content %}
        {% endblock %}

    </div>

    <!-- Load JS scripts at the end of the body for better performance -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="{% static 'js\app.js' %}"></script>
</body>
</html>
